.menu-button {
    -fx-background-color: #3498db; /* Couleur de fond */
    -fx-text-fill: white;           /* Couleur du texte */
    -fx-font-size: 14px;            /* Taille de la police */
    -fx-padding: 10px;              /* Espacement interne */
}

.menu-button:hover {
    -fx-background-color: #2980b9; /* Couleur de fond au survol */
}

.menu-button:pressed {
    -fx-background-color: #1abc9c; /* Couleur de fond lorsque pressé */
}