/* appCentralView.css */

.root {
    -fx-background-color: #f8f0f6; /* background color*/
}

.text-field {
    -fx-background-color: white;
    -fx-border-color: #b559a8;
    -fx-border-radius: 5;
    -fx-padding: 5;
    -fx-font-size: 12;
}

.button {
    -fx-background-color: #d39bd4; /* Couleur de fond des boutons */
    -fx-text-fill: white; /* Couleur du texte */
    -fx-padding: 2 5; /* Espacement interne réduit pour les boutons */
    -fx-font-size: 10; /* Taille de police réduite pour un effet plus compact */
    -fx-border-radius: 3; /* Coins arrondis plus petits */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 3, 0.0, 0, 1); /* Ombre portée pour les boutons */
}


/* Styles pour les SplitMenuButtons */
.split-menu-button {
    -fx-background-color: #d39bd4; /* Couleur de fond des SplitMenuButtons */
    -fx-text-fill: white; /* Couleur du texte */
    -fx-padding: 2 5; /* Espacement interne réduit pour les SplitMenuButtons */
    -fx-font-size: 10; /* Taille de police réduite pour un effet plus compact */
    -fx-border-radius: 3; /* Coins arrondis plus petits */
}

.split-menu-button:hover {
    -fx-background-color: #b559a8; /* Changement de couleur au survol */
}

/* Styles pour les MenuButtons */
.menu-button {
    -fx-background-color: #d39bd4; /* Couleur de fond des MenuButtons */
    -fx-text-fill: white; /* Couleur du texte */
    -fx-padding: 2 5; /* Espacement interne réduit pour les MenuButtons */
    -fx-font-size: 10; /* Taille de police réduite pour un effet plus compact */
    -fx-border-radius: 3; /* Coins arrondis plus petits */
}

.menu-button:hover {
    -fx-background-color: #b559a8; /* Changement de couleur au survol */
}

.label {
    -fx-text-fill: #4b2c4b;
    -fx-font-size: 12;
}

.table-view {
    -fx-border-color: #b559a8;
    -fx-background-color: white;
}

.table-column {
    -fx-text-fill: #4b2c4b;
}
