/* loginPage.css */

.root {
    -fx-background-color: #f8f0f6;
}

.text {
    -fx-fill: #aa2fa6;
    -fx-font-size: 16;
}

.hyperlink {
    -fx-text-fill: #6a2c6a;
    -fx-font-size: 6;
}

.text-field {
    -fx-background-color: white;
    -fx-border-color: #aa2fa6;
    -fx-border-radius: 5;
    -fx-padding: 4;
    -fx-font-size: 10;
}

.password-field {
    -fx-background-color: white;
    -fx-border-color: #aa2fa6;
    -fx-border-radius: 5;
    -fx-padding: 4;
    -fx-font-size: 10;
}

.button {
    -fx-background-color: #d39bd4;
    -fx-text-fill: white;
    -fx-padding: 5 8;
    -fx-font-size: 10;
    -fx-border-radius: 5;
}

.button:hover {
    -fx-background-color: #aa2fa6;
}

#error_label {
    -fx-text-fill: red;
    -fx-font-size: 8;
    -fx-font-weight: bold;
}

.label {
    -fx-text-fill: #4b2c4b;
    -fx-font-size: 10;
}
