.root {
    -fx-background-color: #f8f0f6;
}

.image-view {
    -fx-effect: dropshadow(gaussian, rgba(170, 47, 166, 0.5), 10, 0.3, 0, 2);
    -fx-padding: 10;
}

.text-area {
    -fx-background-color: white;
    -fx-border-color: #aa2fa6;
    -fx-border-radius: 5;
    -fx-font-size: 10;
    -fx-padding: 5;
    -fx-text-fill: #4b2c4b;
}

.button {
    -fx-background-color: #d39bd4;
    -fx-text-fill: white;
    -fx-padding: 5 8;
    -fx-font-size: 10;
    -fx-border-radius: 5;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #aa2fa6;
}

.label {
    -fx-text-fill: #6a2c6a;
    -fx-font-size: 14;
    -fx-font-weight: bold;
    -fx-alignment: center;
}
